@import "variables";
@import "mixins";

body {
    padding: 0;
    margin: 0;
    background: #fff;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input {
    outline: none;
}
.theme--light.application {
    background: #fbfbff !important;
}

#app {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.container {
    max-width: 980px;
    padding: 0 36px;
    margin: 0 auto;
}

.navigation {
    padding: 24px;
    border-bottom: 1px solid #eee;
    margin: 0 0 24px;

    &__wrap {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        padding: 0 36px;

        a {
            font-weight: bold;
            color: #2c3e50;
            text-decoration: none;
            border-bottom: 1px solid #b6cfe9;

            &.router-link-exact-active {
                color: $primary;
            }
        }
    }
}
.form {
    &__input-hint {
        display: block;
        width: 100%;
        padding: 4px 0;
        color: #aaa;
        font-size: 13px;
        font-style: italic;
    }
    &__output {
        position: relative;
        &-preview {
            .string {
                color: brown;

                .color {
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                    border: 1px solid #ccc;
                    margin: 0 5px 0 0;
                    position: relative;
                    top: 2px;
                }
            }
            .number {
                color: blue;
            }
            .boolean {
                color: magenta;
            }
            .null {
                color: red;
            }
            .key {
                color: green;
            }
            
        }
        &-error {
            font-size: 20px;
            line-height: 1.6em;
            text-align: center;
            color: #666;
            font-style: italic;
            &-icon {
                display: block;
                position: relative;
                &::after {
                    content: '';
                    display: block;
                    height: 0;
                    width: 0;
                    border: 15px solid transparent;
                    border-bottom: 27px solid #ff0000;
                    margin: -48px auto 20px;
                }
                &::before {
                    content: '!';
                    display: block;
                    color: #fff;
                    font-size: 18px;
                    font-weight: 700;
                    font-style: normal;
                }
            }
        }
    }
}

/* ============ Transitions ============ */

.slide-fade-enter-active {
    transition: all 0.2s ease;
}

.slide-fade-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
}
